# Allow us to switch assembler/compiler flags relatively easily

# Directory where the .lst files are located
LISTFILE_DIRECTORY=.

# Directory that the .lib files should be placed in
OUTPUT_DIRECTORY=.

#USE_MPM=1
ifdef USE_MPM
LIBLINKER = mpm -I$(Z80_OZFILES) -d -ns -nm -Mo
ASSEMBLER = mpm -I$(Z80_OZFILES)
CFLAGS = -mpm
else
LIBLINKER = z80asm -d -ns -nm -Mo -I$(ZCCCFG)/../
ASSEMBLER = z80asm
CFLAGS = -O3 -vn -make-lib -Wn43
endif

# ZX Ansi display driver; valid presets are:
# 24,28,32,36,40,42,51,64,80,85,128,
# ROM24.ROM28,ROM32,ROM36.

#ZXCOLS = 64

# ZX81 WRX HW mod and ZX Spectrum 
#
ifeq ($(ZXCOLS),128)
COLDEFS = -DPACKEDFONT -DA128COL
endif
ifeq ($(ZXCOLS),85)
COLDEFS = -DPACKEDFONT -DA85COL
endif
ifeq ($(ZXCOLS),80)
COLDEFS = -DPACKEDFONT -DA80COL
endif
ifeq ($(ZXCOLS),64)
COLDEFS = -DPACKEDFONT -DA64COL
endif
ifeq ($(ZXCOLS),51)
COLDEFS = -DA51COL
endif
ifeq ($(ZXCOLS),42)
COLDEFS = -DA42COL
endif
ifeq ($(ZXCOLS),40)
COLDEFS = -DA40COL
endif
ifeq ($(ZXCOLS),36)
COLDEFS = -DA36COL
endif
ifeq ($(ZXCOLS),32)
COLDEFS = -DA32COL
endif
ifeq ($(ZXCOLS),28)
COLDEFS = -DA28COL
endif
ifeq ($(ZXCOLS),24)
COLDEFS = -DA24COL
endif
ifeq ($(ZXCOLS),ROM36)
COLDEFS = -DA36COL -DROMFONT
endif
ifeq ($(ZXCOLS),ROM32)
COLDEFS = -DA32COL -DROMFONT
endif
ifeq ($(ZXCOLS),ROM28)
COLDEFS = -DA28COL -DROMFONT
endif
ifeq ($(ZXCOLS),ROM24)
COLDEFS = -DA24COL -DROMFONT
endif


# ZX81, ARX816 HW mod only
#
ifeq ($(ZXCOLS),ARX128)
COLDEFS = -DPACKEDFONT -DA128COL -DARX816
endif
ifeq ($(ZXCOLS),ARX85)
COLDEFS = -DPACKEDFONT -DA85COL -DARX816
endif
ifeq ($(ZXCOLS),ARX80)
COLDEFS = -DPACKEDFONT -DA80COL -DARX816
endif
ifeq ($(ZXCOLS),ARX64)
COLDEFS = -DPACKEDFONT -DA64COL -DARX816
endif
ifeq ($(ZXCOLS),ARX51)
COLDEFS = -DA51COL -DARX816
endif
ifeq ($(ZXCOLS),ARX42)
COLDEFS = -DA42COL -DARX816
endif
ifeq ($(ZXCOLS),ARX40)
COLDEFS = -DA40COL -DARX816
endif
ifeq ($(ZXCOLS),ARX36)
COLDEFS = -DA36COL -DARX816
endif
ifeq ($(ZXCOLS),ARX32)
COLDEFS = -DA32COL -DARX816
endif
ifeq ($(ZXCOLS),ARX28)
COLDEFS = -DA28COL -DARX816
endif
ifeq ($(ZXCOLS),ARX24)
COLDEFS = -DA24COL -DARX816
endif

# ZX81, Memotech HRG
#
ifeq ($(ZXCOLS),MT124)
COLDEFS = -DPACKEDFONT -DA124COL -DMTHRG
endif
ifeq ($(ZXCOLS),MT82)
COLDEFS = -DPACKEDFONT -DA82COL -DMTHRG
endif
ifeq ($(ZXCOLS),MT80)
COLDEFS = -DPACKEDFONT -DA80COL -DMTHRG
endif
ifeq ($(ZXCOLS),MT62)
COLDEFS = -DPACKEDFONT -DA62COL -DMTHRG
endif
ifeq ($(ZXCOLS),MT51)
COLDEFS = -DA51COL -DMTHRG
endif
ifeq ($(ZXCOLS),MT49)
COLDEFS = -DA49COL -DMTHRG
endif
ifeq ($(ZXCOLS),MT40)
COLDEFS = -DA40COL -DMTHRG
endif
ifeq ($(ZXCOLS),MT41)
COLDEFS = -DA41COL -DMTHRG
endif
ifeq ($(ZXCOLS),MT35)
COLDEFS = -DA35COL -DMTHRG
endif
ifeq ($(ZXCOLS),MT32)
COLDEFS = -DB32COL -DMTHRG
endif
ifeq ($(ZXCOLS),MT31)
COLDEFS = -DA31COL -DMTHRG
endif
ifeq ($(ZXCOLS),MT27)
COLDEFS = -DA27COL -DMTHRG
endif
ifeq ($(ZXCOLS),MT24)
COLDEFS = -DA24COL -DMTHRG
endif

# ZX81, G007 grapics board
#
ifeq ($(ZXCOLS),G136)
COLDEFS = -DPACKEDFONT -DA136COL -DG007
endif
ifeq ($(ZXCOLS),G128)
COLDEFS = -DPACKEDFONT -DA128COL -DG007
endif
ifeq ($(ZXCOLS),G85)
COLDEFS = -DPACKEDFONT -DA85COL -DG007
endif
ifeq ($(ZXCOLS),G90)
COLDEFS = -DPACKEDFONT -DA90COL -DG007
endif
ifeq ($(ZXCOLS),G80)
COLDEFS = -DPACKEDFONT -DA80COL -DG007
endif
ifeq ($(ZXCOLS),G64)
COLDEFS = -DPACKEDFONT -DA64COL -DG007
endif
ifeq ($(ZXCOLS),G68)
COLDEFS = -DPACKEDFONT -DA68COL -DG007
endif
ifeq ($(ZXCOLS),G51)
COLDEFS = -DA51COL -DG007
endif
ifeq ($(ZXCOLS),G54)
COLDEFS = -DA54COL -DG007
endif
ifeq ($(ZXCOLS),G42)
COLDEFS = -DA42COL -DG007
endif
ifeq ($(ZXCOLS),G45)
COLDEFS = -DA45COL -DG007
endif
ifeq ($(ZXCOLS),G40)
COLDEFS = -DA40COL -DG007
endif
ifeq ($(ZXCOLS),G36)
COLDEFS = -DA36COL -DROMFONT -DG007
endif
ifeq ($(ZXCOLS),G38)
COLDEFS = -DA38COL -DROMFONT -DG007
endif
ifeq ($(ZXCOLS),G32)
COLDEFS = -DA32COL -DROMFONT -DG007
endif
ifeq ($(ZXCOLS),G34)
COLDEFS = -DA34COL -DROMFONT -DG007
endif
ifeq ($(ZXCOLS),G28)
COLDEFS = -DA28COL -DROMFONT -DG007
endif
ifeq ($(ZXCOLS),G24)
COLDEFS = -DA24COL -DROMFONT -DG007
endif

# default
COLDEFS ?= -DPACKEDFONT -DA64COL

